<div id="navbar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/slots">Levels</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
</div>