<!DOCTYPE html>
<html lang="en" theme-variant="factory">
<head>
    <title>{{.Info.InstanceName}} - Slots</title>
    {{template "includes.gohtml" .}}
</head>
<body>
{{template "header.gohtml" .}}

{{template "login.gohtml" .}}

<div class="split-pane">


</div>

<h1>Welcome to {{.Info.InstanceName}}</h1>

<div class="container">
    <h1></h1>
    <ul id="level-list-1" class="level-list">
        {{range .Levels}}
            <li>
                <em>{{.Name}}</em>
                <span>Created By {{.NPHandle.Username}}</span>
            </li>
        {{end}}
    </ul>
</div>

</body>
</html>