<div>
    <nav>
        <a>Home</a>
        <a>Levels</a>
        <a>Users</a>
        <a>News</a>

        {{if .LoggedIn}}

        {{end}}
    </nav>
    <a>Test Link</a>
    <button onclick="setLoginFormVisible(true)">Login</button>
</div>