<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Info.InstanceName}} - Home</title>
    {{template "includes.gohtml" .}}
</head>
<body>
    {{template "header.gohtml" .}}
    {{template "login.gohtml" .}}
    <h1>Welcome to {{.Info.InstanceName}}</h1>

    <div>
    <h2>Newest levels on the server:</h2>
    <ul id="level-list-1" class="level-list">
        {{range .Levels}}
            <li>
                <em>{{.Name}}</em>
                <span>Created By {{.NPHandle.Username}}</span>
            </li>
        {{end}}
    </ul>
    </div>
    
</body>
</html>