<div id="navbar">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Levels</a></li>
            <li><a href="">Photos</a></li>
            <li><a href="">Users</a></li>
        </ul>
    </nav>
</div>