<script src="/static/js/login-form.js"></script>
<link rel="stylesheet" href="/static/css/primary.css">
{{range $stylesheet := .Info.InstanceTheme.Stylesheets}}
    <link rel="stylesheet" href="/theming/{{$.Info.InstanceTheme.ID}}/css/{{$stylesheet}}">
{{end}}