@keyframes modal-opening {
    0% {top: -20%; visibility: hidden;}
    10% {top: -20%; visibility: visible;}
    80% {top: 35%;}
    100% {top: 30%; visibility: visible;}
}

@keyframes modal-closing {
    0% {top: 30%; visibility: visible;}
    100% {top: -20%; visibility: hidden;}
}

@keyframes modal-dangle {
    0% {left: 49.6%;}
    50% {left: 50.4%;}
    0% {left: 49.6%;}
}
.modal-opening {

    animation-name: modal-opening, modal-dangle;
    animation-iteration-count: 1, infinite;
    animation-duration: 0.2s, 60s;
    animation-fill-mode: forwards, none;
}

.modal-closing {
    animation-name: modal-closing;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}