package components

templ NavBar(admin, loggedIn bool, username string) {
<nav>
    <a href="/">HS</a>
    <menu>
    <li>Users</li>
    <li>Levels</li>
    <li>Photos</li>

    <li></li>
    </menu>
</nav>
}